*,*:before,*::after
{
    padding: 0;
    margin: 0;
    box-sizing: border;
}
.back
{
    width: 10vh;
    height: 10vh;
    background: red;
    left: 10px;
    top: 10px;
    position: absolute;
}
.introimages
{
    height: 100vh;
}
@media screen and (max-width:700px)
{
    body
    {
        padding: 10px;
    }
    .introimages
{
    height: 43vh;
    width: 200%;
}

}

/* from general */
